{% extends "chatbot/index.html" %}

{% block writing %}
<div class="jumbotron col-lg">
    <h2 class="display-4">Explore!</h5>

    {% for error in errors %}
    <div class="col-xs-12" style="height:10px;"></div>
    <div class="error col-md-12">
        {{error}}
    </div>
    {% endfor %}
    <div class="col-xs-12" style="height: 5px;"></div>

    <form class="add-form col-md-12" action="javascript:AddObserve()">
        <div class="row">
            <div class="input-group input-group-lg">
                {{ postform}}
                <div class="input-group-btn">`
                    <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="SetObserveToDefault();"id="observe-select">Explore by...<span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a class="dropdown-item" href="#" onclick="SetObserveToLocation();"><h4>Location</h4></a></li>
                        <li><a class="dropdown-item" href="#" onclick="SetObserveToTag();"><h4>Tag</h4></a></li>
                    </ul>
                </div>
                <div class="input-group-btn">
                    <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="param-select">Parameter<span class="caret"></span></button>
                    <ul class="dropdown-menu scrollable-menu" role="menu">
                        <div id="paramenu-set">
                            <div class="paramenu">
                                <p class="dropdown-item paramenu" href="#">Choose an observation first.</p>
                            </div>
                        </div>
                    </ul>
                </div>
                <div class="input-group-btn" id="dropdown-value">
                    <div class="dropdown-value">
                    </div>
                </div>
                <input type="text" name="item" disabled="true" autofocus class="form-control" placeholder="For searching by tag." aria-describedby="sizing-addon1" id="observe-text" maxlength="160">
                <span class="input-group-btn">
                    <button class="btn btn-outline-primary" type="button" onclick="AddObserve()">Go!</button>
                </span>
            </div>
            {% csrf_token %}
        </div>
    </form>

    <div class="panel panel-body" id="scroll-window-observe">
        <div class="table-container">
            <table class="table table-filter">
                <tbody id="observe-list">
                    <tr class="searchres">
                        <div class="observe-list searchres">
                            <h6>Explore something!</h6>
                        </div>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
        
{% endblock %}


