{% extends "chatbot/index.html" %}

{% block writing %}
<div class="jumbotron col-lg">
    <h2 class="display-4">Hunt!</h2>

    {% for error in errors %}
    <div class="col-xs-12" style="height:10px;"></div>
    <div class="error col-md-12">
        {{error}}
    </div>
    {% endfor %}
    <div class="col-xs-12" style="height: 5px;"></div>

    <form class="add-form col-md-12" action="" method="post">
        <div class="row">
            <div class="input-group input-group-lg">
                {{ postform}}
                <div class="input-group-btn">
                    <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="SetExploreToDefault();">Hunt By...<span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#" onclick="SetExploreToTrack();">Track</a></li>
                        <li><a class="dropdown-item" href="#" onclick="SetExploreToArtist();">Artist</a></li>
                        <li><a class="dropdown-item" href="#" onclick="SetExploreToPlaylist();">Playlist</a></li>
                        <li><a class="dropdown-item" href="#" onclick="SetExploreToGenre();">Genre</a></li>
                    </ul>
                </div>
                <span class="input-group-addon" id="basic-addon1-select" name="select">Selection</span>
                <input type="text" name="item" id="item" autofocus class="form-control" placeholder="Search!" aria-describedby="sizing-addon1" maxlength="160">
                <span class="input-group-btn">
                    <button class="btn btn-outline-primary" type="button" onclick="AddExplore()">Go!</button>
                </span>
            </div>
            {% csrf_token %}
        </div>
    </form>

    <div class="panel panel-body">
        <div class="table-container">
            <table class="table table-filter">
                <tbody id="explore-list">
                    <tr class="searchres">
                        <div class="explore-list searchres">
                            <h6>Search something!</h6>
                        </div>
                    </tr>
                </tbody>
            </table>


        <!-- Stuff for the search bar -->
    </div>

</div>
        
{% endblock %}


