<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <title>Logged in!</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/login.css">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"
          integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
          crossorigin="anonymous"></script>


  <div class="container">
      <h2>Explore Tab</h2>
      <p>Here, you can explore new music by location (see what others are listening to)
      or by tag (use acoustic features to see tracks which meet your taste).</p>

      <p>Explore by Location</p>
            <ul style="list-style-type:disc">
                <li>Location - You can see in the drop down menu, the regions where users
                  of TMTM are currently locations, including the number of users in a region</li>
                <li>Select a region and click on Go to see what's hot there! Pretty cool haan?
                  Disclaimer : We don't promote any sort of judgement based on music taste! </li>
              </ul>

      <p>Explore by Tag</p>
              <ul style="list-style-type:disc">
                  <li>Parameters - These are different acoustic features of a track.
                    For example - speechiness refers to the amount of spoken words in a song.</li>
                  <li>Values - You can choose how much of that parameter you would prefer</li>
                  <li>Type in your favourite track and based on the above settings, you will get back
                    a list of recommended tracks. </li>
              </ul>


  </div> <!-- /container -->

</head>

<body>

</body>
</html>
