<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <title>Logged in!</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/login.css">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"
          integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
          crossorigin="anonymous"></script>


  <div class="container">

      <h2>Hunt Tab</h2>
      <p>Here, you can hunt down your favourite tracks by various different search parameters.</p>
      <ul style="list-style-type:disc">
        <li>Track - Type in the name of track and take it from there!</li>
        <li>Artist - Have someone in mind, hunt down their tracks suing this option</li>
        <li>Playlist - If you have a mood/genre/food/etc, there's probably a playlist for it</li>
        <li>Genre - Search out tracks by their genres/sub-genres. Keep in mind, Spotify
        should have that genre listed. So yes, 'potato salad' won't work here.</li>
      </ul>
      <p>You won't see all the drop down options listed above if you aren't logged into your
        Spotify account!</p>
  </div> <!-- /container -->

</head>

<body>

</body>
</html>
